<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.framework.persist.dao.KtfLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.kivi.framework.persist.model.KtfLoginLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="LOG_NAME" jdbcType="VARCHAR" property="logName" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="SUCCEED" jdbcType="VARCHAR" property="succeed" />
    <result column="MESSAGE" jdbcType="VARCHAR" property="message" />
    <result column="IP" jdbcType="VARCHAR" property="ip" />
    <result column="REGION_INFO" jdbcType="VARCHAR" property="regionInfo" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="GMT_UPDATE" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
</mapper>