<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kivi.framework.persist.dao.KtfErrorCodeMapper">
  <resultMap id="BaseResultMap" type="com.kivi.framework.persist.model.KtfErrorCode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="err_code" jdbcType="VARCHAR" property="errCode" />
    <result column="err_alias" jdbcType="VARCHAR" property="errAlias" />
    <result column="err_desc" jdbcType="VARCHAR" property="errDesc" />
    <result column="err_tip" jdbcType="VARCHAR" property="errTip" />
    <result column="err_group" jdbcType="VARCHAR" property="errGroup" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
</mapper>